.intro {
  display: flex;
  width: 1200px;
  margin: 120px auto;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  width: 500px;
  gap: 30px;
  flex-direction: column;
  margin: auto 0;
  align-items: center;
  flex: 1;
}
.left p {
  width: 300px;
  text-align: center;
}

.left ul {
  display: flex;
  gap: 20px;
}

.left ul li {
  align-items: center;
}

.left ul li a {
  display: flex;
  gap: 5px;
  padding: 8px 24px;
  background-color: #ffdde1;
  border-radius: 25px;
  align-items: center;
  font-size: 12px;
}

.left ul li a:hover {
  background-color: #fcb9c0;
}

.left ul li a img {
  display: block;
}

.right {
  flex: 1;
  width: 660px;
  height: 500px;
  line-height: 660px;
}

.right img {
  display: block;
  width: 490px;
  height: 500px;
  object-fit: contain;
  margin: 0 auto;
}

.explain_common {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 180px auto;
  justify-content: center;
  animation-name: Up;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

@keyframes Up {
  0%,
  20% {
    transform: translateY(100%);
    opacity: 0%;
  }

  60%,
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.explain_common h2 {
  text-align: center;
}

.explain_common p {
  margin: 0 auto;
  width: 920px;
  line-height: 1.6;
}

.explain_02 {
  margin: 0px auto 180px auto;
  animation-name: Up02;
  animation-duration: 4s;
  animation-timing-function: ease-in;
}

@keyframes Up02 {
  0%,
  20% {
    transform: translateY(100%);
    opacity: 0%;
  }

  60%,
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.explain_02 h2 {
  text-align: center;
}

.sec03 {
  animation-name: Up03;
  animation-duration: 6s;
  animation-timing-function: ease-in;
}

@keyframes Up03 {
  0%,
  20% {
    transform: translateY(100%);
    opacity: 0%;
  }

  60%,
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.icons {
  display: flex;
  gap: 120px;
  margin: 40px auto;
  justify-content: center;
}

.icons img {
  display: block;
  height: 80px;
  animation: hithere 1.5s ease infinite;
}

.icons img:hover {
}

@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.cards {
  width: 1200px;
  margin: 180px auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.card {
  width: 400px;
  height: 550px;
  border: 1px solid #e1e1e1;
  animation-name: slideUp;
  animation-duration: 6s;
  animation-timing-function: ease-in;
}

@keyframes slideUp {
  0%,
  40% {
    transform: translateY(100%);
    opacity: 0%;
  }

  60%,
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.SliderE {
  animation-delay: 0s;
}

.HoverE {
  animation-delay: 150ms;
}

.ScrollE {
  animation-delay: 300ms;
}

.MediaE {
  animation-delay: 550ms;
}

.JavascriptE {
  animation-delay: 750ms;
}

.AnimateE {
  animation-delay: 950ms;
  padding: 20px;
}
.AnimateE p {
  padding-top: 20px;
}

.card .top {
  display: flex;
  height: 360px;
  align-items: center;
  position: relative;
}

.top_photo {
  width: 380px;
  margin: 0 auto;
}

.card .bottom {
  margin-left: 28px;
  line-height: 2;
}

.item1 {
  margin: 0 auto;
  display: block;
  width: 212px;
  height: 330px;
  background-color: #e2e2e2;
  border-radius: 4px;
}

.item1 img {
  position: absolute;
  width: 212px;
  height: 212px;
}

.thumbnail {
  width: 212px;
  height: 212px;
}

.item1 img:last-child {
  opacity: 0;
  transition: all 0.8s;
}

.thumbnail img:first-child {
  opacity: 1;
}

.thumbnail img:last-child {
  opacity: 0;
}

.item1:hover .thumbnail img:first-child {
  opacity: 0;
  transition: all 0.8s;
}

.item1:hover .thumbnail img:last-child {
  opacity: 1;
}

.text_box {
  width: 212px;
  margin: 20px;
  font-size: 12px;
}

.text_box h4 {
  margin: 10px 0;
}

.bgc {
  display: block;
  z-index: -1;
  margin: 0 auto;
}

.gangnam {
  position: absolute;
  bottom: 30%;
  left: 20%;
  display: block;
  margin: 0 auto;
}

.HoverE,
.JavascriptE {
  margin-top: 80px;
}

.another {
}

.another h2 {
  text-align: center;
}

.another .project {
  display: flex;
  gap: 40px;
  justify-content: center;
  position: relative;
  margin: 40px auto;
}

.another .project a {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  background-color: #f6f6f6;
  border-radius: 4px;
}
.another .project a:hover {
  background-color: #d0e5ff;
}
.another .project img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
