div {
  background-color: #fff;
}

.box {
  position: absolute;
  left: 70px;
  top: 70px;
  width: 60px;
  height: 60px;
  background-color: transparent;
  offset: path(
      'M0.5 143.5C7.33333 126.5 30.2673 96.5699 64.5 90C114 80.5 158.5 54.5 179.5 1'
    )
    auto;
  animation: moveto 6s ease infinite;
}

.box::after {
  content: url(../image/flower2.png);
  display: block;
}
@keyframes moveto {
  0% {
    offset-distance: 0%;
    opacity: 0;
  }
  100% {
    offset-distance: 100%;
    opacity: 1;
  }
}
