.ui_intro {
  margin: 120px 100px 0 100px;
  width: 1400px;
}

.ui_intro p {
  width: 640px;
  padding: 20px 0;
}

.ui_images {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin: 60px 0;
  justify-content: center;
}

.booking.slick-initialized.slick-slider {
  width: 1200px;
}

.triple.slick-initialized.slick-slider {
  width: 1200px;
}
