.sorting {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
  gap: 30px;
  width: 400px;
  padding: 20px 0;
}

.sorting button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  padding: 0;
}
.sorting button.active {
  color: #fc5b5b;
}

.list {
  width: 1260px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 40px;
}

.list li {
  display: none;
}

.list li img {
  display: block;
}

.img_wrap {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-image: linear-gradient(
    to bottom,
    transparent 60%,
    rgba(0, 0, 0, 0.6)
  );
  border-radius: 8px;
}

.img_wrap span {
  position: absolute;
  top: 88%;
  left: 5%;
  font-size: 18px;
  color: #fff;
  opacity: 1;
}

.img_wrap:hover .image {
  opacity: 1;
}

.img_wrap:hover .middle {
  opacity: 1;
}

.title {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.icons {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-left: 158px;
}
.icons img {
  display: block;
}

#btn {
  display: block;
  border: none;
  padding: 10px 15px;
  margin: 40px auto;
  cursor: pointer;
  background-color: #111;
  color: #fff;
}
